<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Componentes</title>
  </head>
  <body>
    <div id="app">
      <h1>{{title}}</h1>
      <counter></counter>
    </div>
    <script type="text/javascript" src="../vue.js"></script>
    <script type="text/javascript" src="./app.js"></script>
  </body>
</html>
