body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#app {
  width: 100%;
  padding: 50px;
  min-height: 100vh;
}

.red {
  color: red;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.uppercase {
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}
