<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tracker Cursos Platzi</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div id="app">
      <h1>Mis Cursos de Platzi 💚</h1>
      <fieldset>
        <legend>Escriba los cursos de Plazti a registrar en el tracker</legend>
        <p>
          <input type="text" placeholder="Titulo del curso" v-model="title" />
        </p>
        <p><input type="number" placeholder="Horas" v-model="time" /></p>
        <p><button v-on:click="addCourse">Guardar Curso</button></p>
      </fieldset>
      <div>
        <!-- Lista de cursos -->
        <h3>Lista de Cursos</h3>
        <div v-show="courses.length == 0">
          <p class="red">Aun no has realizado cursos</p>
        </div>
        <ol>
          <li
            v-bind:id="index"
            v-for="(course, index) in courses"
            v-bind:key="course.title"
          >
            ✔ {{course.title}} - {{course.time}} horas.
            <span class="pointer" v-on:click="removeCourse(index)">❌</span>
          </li>
        </ol>
      </div>
      <hr />
      <p>
        Llevo <strong>{{totalTime}}</strong> horas aprendiendo en Platzi.
        <strong>#NuncaParesDeAprender 💚</strong>
      </p>
    </div>
    <script type="text/javascript" src="../vue.js"></script>
    <script type="text/javascript" src="./app.js"></script>
  </body>
</html>
