html {
  padding: 20px;
  color: #3d3d3d;
}

body {
  background-color: #e9e9e9;
}

a {
  text-decoration: none;
}

legend,
button {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}

button {
  cursor: pointer;
}

#app {
  width: 85%;
  margin: 0 auto;
  min-height: 100vh;
}

.red {
  color: tomato;
}

.green {
  color: seagreen;
}

.orange {
  color: orange;
}

.uppercase {
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}
